@media screen and (min-width: 920px) {
  header {
    height: 100vh;
  }
  nav {
    display: flex;
    gap: 2.4rem;
    flex-direction: row;
    padding: 0 2.4rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
  }

  .toggle-nav {
    display: none;
  }

  .links {
    background-color: transparent;
    display: flex;
    gap: 22px;
    font-size: 1.85rem;
    text-transform: capitalize;
    padding: 0;
    font-weight: 600;
    margin: 0;
  }
  .link:hover {
    background-color: #eaf3f5;
    padding: 0px;
    border-radius: 10px;
  }
  .link a:hover {
    color: #298a9a;
  }

  .hero-section {
    padding: 4.2rem 9.6rem;
  }
  .hero {
    display: flex;
    flex-direction: row;
  }
  .hero-description h1 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2;

    color: #222;
  }

  .hero-description h3 {
    font-size: 2rem;
    margin-top: 0;
    color: #4b5563;
    font-weight: 500;
  }

  .hero-description p {
    font-size: 1.45rem;
    margin-top: 0;
    color: #6b7280;
    font-weight: 400;
    line-height: 1.6;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2.4rem;
    max-width: 65rem;
  }

  .hero-image {
    max-width: 500px;
  }
  .hero-image img {
    width: 100%;
  }
  .future-section-container {
    position: relative;
    padding: 4.6rem 0;
  }
  .section-future {
    width: 100%;
    position: absolute;
    padding: 4.6rem 3.4rem;
    border-radius: 18px;
    top: -130px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .future-header {
    padding: 0 3.2rem;
  }
  .future-header small {
    display: inline-block;
    color: #298a9a;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .future-headings {
    display: flex;
    /* flex-wrap: wrap;
    gap: 4rem; */
    align-items: flex-start;
  }

  .future-headings h2 {
    max-width: 45rem;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.4;
    color: #1f2937;
  }

  .future-headings p {
    margin-left: 7.8rem;
    max-width: 38rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4b5563;
  }

  .future-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .future-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 18px;
    margin-top: 4rem;
  }
  .future-card span {
    font-size: 2.2rem;
    color: #298a9a;
    display: inline-block;
  }

  .future-card h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #222;
  }

  .future-card p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
    max-width: 38rem;
  }
  .whyus {
    margin-top: 29rem;
    padding: 9.8rem 3.2rem 4.5rem 3.2rem;
  }
  .whyus-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .whyus h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
  }

  .whyus-cards {
    display: grid;
    grid-template-areas:
      "card1 card2 card4"
      "card3 card3 card4";
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .card1 {
    max-width: 400px;
    grid-area: card1;
  }
  .card2 {
    max-width: 400px;
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }

  .card4 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .whyus-card {
    padding: 2rem;
  }

  .whyus-card span {
    font-size: 1.75rem;
  }

  .whyus-card h3 {
    font-size: 2.4rem;
  }

  .testimonials-section {
    padding: 9.6rem 0;
  }
  .whyus-card p {
    font-size: 1.4rem;
  }

  .section-cta {
    padding: 2.8rem 0 12.8rem;
  }

  .cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    /* height: 50rem; */
    background-image: linear-gradient(
      to bottom,
      rgba(249, 249, 253),
      rgb(213, 217, 241, 0.8)
    );
    overflow: hidden;
  }

  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
  }

  .cta .secondary-heading {
    color: #45260a;
    margin-bottom: 3.2rem;
  }

  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }

  .cta-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(249, 249, 253, 0.01),
        rgb(213, 217, 241, 0.1)
      ),
      url(./img/cta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  }

  .cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .cta-form input::placeholder {
    color: #aaa;
  }
  /* 
  .cta-form select {
  }

  .cta-form button {
  } */

  .cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 223, 0.5);
  }
  .btn-form {
    border: 0;
    font-size: 2rem;
    background-color: #7fb9c2;
    border-radius: 9px;
    width: 60%;
    height: 75%;
    margin-top: 20px;
    color: #fff;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .footer-logo-container {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }

  .footer-logo {
    /* color: #1864ab; */
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1220px) {
  .future-headings {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: flex-start;
  }
}
